<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @product.photo.photo_show %>
</p>


<%= link_to 'Back', products_path %>

<%= render "review/form" %>

<%= render partial: "review/review", collection: @last_reviews %>
